body{
		margin: 0;
		padding: 0;
		position: relative;
		background: #ffff;
		position: relative;
}
nav{
	width: 100%;
	height: 65px;
	position: relative;
	background: #2d2b86;
	box-shadow: 0px 2px 8px 0px #333;
}
.nav-container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: #2d2b86;
}
.nav-container>.logo{
	width: 300px;
	height: 65px;
	float: left;
}
.menu{
	width: 108%;
	height: 65px;
	background: #2d2b86;
}
.menu>.menu-content{
	padding: 0.5px 20px;
	width: 700px;
	height: 65px;
	float: right;
	font-family: sans-serif,Arial;
	font-size:16px;
	font-weight: bold;
	letter-spacing: -0.05em;
	position: absolute;
	top: 5px;
	left: 400px;
	color: #fff;
	line-height: 40px;
}
.menu>.menu-content>a{
	float: right;
	color: #fff;
	text-decoration: none;
	
}
.menu2{
	width: 100%
	height: 50px; 
	background: #465c93; 
	box-shadow: 0px 2px 8px 0px #333;
}
.menu2>.menu2-content{
	
	width: 100%;
	height: 40px;
	float: none;
	font-family: sans-serif,Arial;
	font-weight: bold;
	word-spacing: 1em;
	letter-spacing:-0.0001em;
	position: relative;
	color: #c0c4c8;
	line-height: 0px;
	
	top:20px;
	left: 50px;
}
.menu2>.menu2-content>a{
	color:#e0cd06;
	text-decoration:none;
	
}
.menu2>.menu2-content>a:hover{
	background-color: #000000;
	padding-bottom: 4px;
	
}

form{
	margin: auto;
	width: 50%;
	
}

.container{
	margin: 7em 0 0;
	width:150%;
	height:550px;
	background: #D8D8D8;
}

.container2{
	height: 400px;
	width: 50%;
	background: #2d2b86;
}

	
.tituloNOT>h2{
	
	font-family: "Open Sans Condensed",serif;
    font-size: 17px;
    font-weight: 950px;
    line-height: 50.0px;
    margin: 0 -19em 9em;
    letter-spacing: 0;
    
}
.tituloNOT>p{
	color: #000000;
	margin: -6em 20.5em 2em;
	width: 55%;
}
img{
	margin: 1em 0em -1em;
}
span{
	color: #c0c4c8;
	margin: -10em 20.5em 6em;
}
.container-anuncios{
	background: #2d2b86;
	height: 600px;
	width: 28%;
	float: right;
	margin: -26em 1em 5em;
}
.container-anuncios>div{
	background: #c0c4c8;
}
.tituloANUN>h2{
	color: #e0cd06;
	font-family: "Open Sans Condensed",serif;
	background: #465c93;
	height: 50px;
	margin: 0 0em 1em;
}
.tituloANUN>h3{
	color: #c0c4c8;
	font-family: "Open Sans Condensed",serif;
	margin: 0em 1em 1em;
}
.tituloANUN>p{
	color: #c0c4c8;
	margin: 2em 1em 2em;
	width: 70%;
}
.tituloANUN2>h3{
	color: #c0c4c8;
	font-family: "Open Sans Condensed",serif;
	margin: 0em 1em 1em;
}
.tituloANUN2>p{
	color: #c0c4c8;
	margin: 2em 1em 2em;
	width: 70%;
}
.pagina{
	
	width:100%;
	height:575px;
	background:#D8D8D8;
	overflow:auto;
}
.paginaCARTA{
	width:100%;
	height:575px;
	background:#D8D8D8;
	overflow:auto;
}
.paginaCarta>h4{
	margin: 1em 5em 1em;
}
.reglas{
	width:100%;
	padding-left:100px;
	padding-top:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
}
.reglas>h2{
	margin: 0 -1em 1em;
	background: #ACB0B7;
	height: 50px;
	width: 50%;
}
.container-anun{
	width:100%;
	height:550px;
	background: #D8D8D8;
}
.tituloANUN{
	margin: 0 0 14em;
}
.tituloANUNN>h2{
	
	font-family: "Open Sans Condensed",serif;
	margin: 0em 1em 2em;
	
}
.tituloANUNN>p{
	
	margin: 2em 1em 2em;
	width: 70%;
}
.tituloANUNN>span{
	
	margin: 0 1em 8em;
}
.tituloNOTI{
	background: #D8D8D8;
	
}

.tituloNOTI>h2{
	margin: 2em 0 1em;
}

.formulario{
	background: #D8D8D8;
	height: 50px;
	width: 100%;
}








