<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
		<title>Noticias</title>
		<link rel="stylesheet" href="estilo.css" type="text/css" />
	</head>
	<body>
		<nav>
			<section class="nav-container">
				<aside class="logo"><a href="indexx"><img src="HSDECKS.PNG" width="200" height="40" alt="MyCompanyLogo"></a>
				</aside>
				<aside class="menu">
					<div class="menu-content">
						
						<input type="text" placeholder="busqueda" name="busqueda">
						<input type="submit" value="Buscar">
						
						<a href="#"><button style="color:black;">Login</button></a>
						<a href="#">|</a>
						<a href="#"><button style="color:black;">Resgister</button></a>
						
					</div>
				</aside>
			</section>
			<section>
				<aside class="menu2">
					<div class="menu2-content">
						<a href="mazo" target="_blank">Mazos</a>
						<a href="carta" target="_blank">Cartas</a>
						<a href="notici" target="_blank">Noticias</a>
						<a href="anunci" target="_blank">Anuncios</a>
						<a href="reglamento.html" target="_blank">Reglamento</a>
						</div>
					</aside>
					</section>
					
					
					<section class="container-anun">
														<div class="paginaCARTA">
															<p>{{#noti}}
															<h2>{{titulo}}</h2>
															<p>{{contenido}}</p>
															
																<br>{{fecha}}
															
																
															</p>
<br>
				<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
				<p> </p><br><br>{{/noti}}
														</div>
													
					</section>
			
			
				</nav>
			</body>
</html>